version: "3.8"

services:
  mongodb:
    image: mongo:7.0
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: gafelson
      MONGO_INITDB_ROOT_PASSWORD: gaf123
      MONGO_INITDB_DATABASE: girc_db
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
